/* Public Code */
:root {
  --Dark-text: hsl(229, 25%, 31%);
  --Score-text: hsl(229, 64%, 46%);
  --Header-outline: hsl(217, 16%, 45%);
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background-image: linear-gradient(
    180deg,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
  color: white;
  background-repeat: no-repeat;
  height: 100vh;
}

button,
input {
  border: 0;
  outline: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: inherit;
}
.container {
  width: 80%;
  margin: 0 auto;
}
br {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}
/* Header App Code */

.header-app {
  margin: 3rem 0;
}
.header-app__wraper {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: 4px solid var(--Header-outline);
  padding: 1.5rem;
  border-radius: 1rem;
}
.header-app__logo {
  width: 11rem;
}
.header-app__logo img {
  width: 100%;
}
.header-app__score {
  background-color: white;
  width: 11rem;
  height: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.6rem;
}
.header-app__score span {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: var(--Score-text);
  display: block;
  font-weight: bold;
  font-size: 1.1rem;
}
.header-app__score h2 {
  color: var(--Dark-text);
  display: block;
  font-size: 4rem;
}

/* Body App */

.body-app__wraper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-app__btn-wraper {
  position: relative;
  margin-top: 7rem;
}
.body-app__btn,
.start-game__player-choise,
.start-game__bot-choise {
  width: 12.5rem;
  height: 12.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  cursor: pointer;
}

.body-app__btn img,
.start-game__player-choise img,
.start-game__bot-choise img {
  width: 4.5rem;
}

.top-left {
  position: absolute;
  top: -6rem;
  left: -6rem;
}
.top-right {
  position: absolute;
  top: -6rem;
  left: 12rem;
}
.bottom-center {
  position: absolute;
  bottom: -6rem;
  left: 3rem;
}

.paper-btn,
.rock-btn,
.scissors-btn {
  border-radius: 50%;
  border: 1.6rem solid transparent;
  margin-bottom: 1rem;
}
.paper-btn {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, hsl(230, 89%, 62%), hsl(230, 89%, 65%))
      border-box;

  box-shadow: 0 10px 0 hsla(230, 89%, 65%, 0.65),
    0 10px 0 rgb(226, 226, 226) inset;
}
.rock-btn {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, hsl(349, 71%, 52%), hsl(349, 70%, 56%))
      border-box;
  box-shadow: 0 10px 0 hsla(349, 70%, 56%, 0.65),
    0 10px 0 rgb(226, 226, 226) inset;
}
.scissors-btn {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, hsl(39, 89%, 49%), hsl(40, 84%, 53%)) border-box;
  box-shadow: 0 10px 0 hsla(40, 84%, 53%, 0.65),
    0 10px 0 rgb(226, 226, 226) inset;
}

/* Start Game App */

.start-game {
  width: 100%;
  margin-top: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  height: 20rem;
}
.start-game__player,
.start-game__bot,
.start-game__bot-active,
.start-game__bot-nonactive {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.start-game__player-title,
.start-game__bot-title {
  text-align: center;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 600;
}
.start-game__player-choise,
.start-game__bot-choise {
  width: 15rem;
  height: 15rem;
}
.start-game__player-choise img,
.start-game__bot-choise img {
  width: 5.5rem;
}
.non-active {
  background-color: transparent;
}
.start-game__bot-choise__box {
  width: 12rem;
  height: 12rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

/* Results Game */

.results-game {
  width: 100%;
  text-align: center;
}
.results-game__title {
  width: 100%;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.results-game__btn {
  width: 100%;
  background-color: white;
  margin-top: 1.5rem;
  height: 3.4rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.results-game__btn button {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: bold;
  cursor: pointer;
}
.red {
  color: red;
}
.dark {
  color: var(--Dark-text);
}

.win {
  position: relative;
  z-index: 100;
  transform: scale(1.1);
}
.win::after {
  content: "";
  display: block;
  background-color: hsla(217, 16%, 45%, 0.1);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: scale(2);
  z-index: -100;
}
.win::before {
  content: "";
  display: block;
  background-color: hsla(217, 16%, 45%, 0.06);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: scale(3);
  z-index: -100;
}

/* Footer App */

.footer-app {
  margin-top: 6rem;
}
.rules-app {
  /* text-align: center; */
  display: flex;
  justify-content: end;
  margin-right: 2rem;
}
#rulesBtn {
  border: 2px solid white;
  padding: 0.7rem 3.2rem;
  color: white;
  font-size: 1.3rem;
  border-radius: 0.6rem;
  text-transform: uppercase;
  transition: all 250ms ease-in 20ms;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
#rulesBtn:hover {
  background-color: white;
  color: black;
}

/* Modale Rule */

.modale-rule {
  position: fixed;
  top: 10rem;
  left: 36rem;
  z-index: 100;
  background-color: white;
  color: black;
  border-radius: 0.6rem;
}
.modale-rule__wraper {
  padding: 2rem;
}
.modale-rule__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.modale-rule__title {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--Dark-text);
}
.modale-rule__close-btn {
  cursor: pointer;
}
.modale-rule__body {
  width: 24rem;
}
.modale-rule__body img {
  width: 100%;
}

.background-hide {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

/* Responsive */

@media (max-width: 480px) {
}

@media (min-width: 481px) and (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
  body {
    width: 100%;
    height: 100%;
  }
  /* Header App */
  .header-app {
    margin: 5rem 0;
  }
  .header-app__wraper {
    width: 100%;
    border-radius: 0.5rem;
  }

  /* Body App */
  .body-app__btn-wraper {
    margin-top: 8rem;
  }

  .body-app__btn,
  .start-game__player-choise,
  .start-game__bot-choise {
    width: 11rem;
    height: 11rem;
  }
  .body-app__btn img,
  .start-game__player-choise img,
  .start-game__bot-choise img {
    width: 3.8rem;
  }

  .paper-btn,
  .rock-btn,
  .scissors-btn {
    border: 1.4rem solid transparent;
  }

  .top-left {
    position: absolute;
    top: -6rem;
    left: -5rem;
  }
  .top-right {
    position: absolute;
    top: -6rem;
    left: 13rem;
  }
  .bottom-center {
    position: absolute;
    bottom: -4rem;
    left: 4rem;
  }

  .start-game__player-title,
  .start-game__bot-title {
    font-size: 1rem;
  }

  .results-game__title {
    font-size: 1.5rem;
  }
  .win {
    transform: scale(1);
  }
  .win::after {
    transform: scale(2);
  }
  .win::before {
    transform: scale(2.7);
  }
  /* Footer App */

  .footer-app {
    margin-top: 12rem;
    margin-bottom: 5rem;
  }
  .rules-app {
    justify-content: center;
  }

  .modale-rule {
    /* top: 2rem; */
    left: 26rem;
    transform: scale(0.8);
  }
}
@media (min-width: 1200px) and (max-width: 1919px) {
  body {
    width: 100%;
    height: 100%;
  }
  /* Header App */
  .header-app {
    margin: 5rem 0;
  }
  .header-app__wraper {
    width: 80%;
    border-radius: 0.5rem;
  }

  /* Body App */
  .body-app__btn-wraper {
    margin-top: 8rem;
  }

  .body-app__btn,
  .start-game__player-choise,
  .start-game__bot-choise {
    width: 11rem;
    height: 11rem;
  }
  .body-app__btn img,
  .start-game__player-choise img,
  .start-game__bot-choise img {
    width: 3.8rem;
  }

  .paper-btn,
  .rock-btn,
  .scissors-btn {
    border: 1.4rem solid transparent;
  }

  .top-left {
    position: absolute;
    top: -6rem;
    left: -5rem;
  }
  .top-right {
    position: absolute;
    top: -6rem;
    left: 13rem;
  }
  .bottom-center {
    position: absolute;
    bottom: -4rem;
    left: 4rem;
  }

  .start-game__player-title,
  .start-game__bot-title {
    font-size: 1rem;
  }

  .results-game__title {
    font-size: 1.5rem;
  }
  .win {
    transform: scale(1);
  }
  .win::after {
    transform: scale(2);
  }
  .win::before {
    transform: scale(2.7);
  }
  /* Footer App */

  .footer-app {
    margin-top: 12rem;
    margin-bottom: 5rem;
  }
  .rules-app {
    justify-content: center;
  }

  .modale-rule {
    /* top: 2rem; */
    left: 26rem;
    transform: scale(0.8);
  }
}
