.main {
  width: clamp(10rem, 60vw, 40rem);
  height: 19.25rem;
  margin-top: clamp(1rem, 20vw, 6rem);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url("../../assets/images/bg-pentagon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.main__game-btn {
}
